*
{
	margin: 0;
	font-family: sans-serif;
}
.Header{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}
body{
	background-color: #0f2c45;
}
.header2{
	display: flex;
}
.Pmoskva{
	font-size: 14px;
	font-weight: 400;
	color: white;
}
.header1{
	display: flex;
	align-items: center;
}
.menu{
	display: none;
}
.SectionFirst{
	background-image: url(./Rectangle\ 7.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90%;
	height: 270px;
	margin: auto;
	margin-top: 40px;
	background-color: #0f2c45;
}
.borderground{
	border: 1px solid rgb(255, 246, 246);
	width: 50px;
	padding: 10px;
	border-radius: 10px;
}
.borderground2{
	width: 200px;
	border: 1px solid rgb(250, 232, 232);
	padding: 10px;
	border-radius: 10px;
}
.pАкция{
	font-size:18px ;
	font-weight:400 ;
	color: white;

}
.sectionChild{
	display: flex;
	align-items: center;
	gap: 20px;
}
.pUteplenie{
	font-size: 44px;
	font-weight: 700;
	color: white;

}
.butЗаказать{
	width: 318px;
	height: 52px;
	border: none;
	background-color: #E53624;
	border-radius: 100px;
	font-size: 20px;
	font-weight: 500;
	color: white;
}
.Pskidka{
	width: 238px;
	font-size: 18px;
	font-weight: 400;
	color: white;
}
.SectionFirst{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	justify-content: space-around;
}
.textbot{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.butЗаказатьm{
	width: 318px;
	height: 52px;
	border: none;
	background-color: #E53624;
	border-radius: 100px;
	font-size: 20px;
	font-weight: 500;
	color: white;
	display: none;
}
.pKomleks{
	font-size:14px ;
	font-weight: 400;
	color: white;
	width: 313px;
}
.pRemont{
	font-size: 32px;
	font-weight: 700;
	color: white;
}
.pUslugi{
	font-size:66px ;
	font-weight: 700;
	color: white;
	width: 570px;
	margin: auto;

}
.Rowgap{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.RowBox{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}
.SectionSecond{
	margin-top: 30px;
	background-color: #0f2c45;
}
.pKomleks{
	line-height: 20px;
}
.pDoma{
	font-size:32px ;
	font-weight: 700;
	color:white ;
}
.pOdnoznachno{
	font-size: 14px;
	font-weight: 400;
	color: white;
	width: 315px;
}
.DomaFlex{
	width: 500px;
	background-color: #476178;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px;
}
.Restengle{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.textbott{
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	align-items: center;
}
.butЗаказатьt{
	width: 318px;
	height: 52px;
	border: none;
	background-color: #E53624;
	border-radius: 100px;
	font-size: 20px;
	font-weight: 500;
	color: white;
}
.pуслуги{
	font-size:58px ;
	font-weight: 700;
	color: #191A1A;
	margin-left: 94px;
	margin-top: 60px;
}
.SectionThird{
	background-color: white;
	
	
}
.Imgtext{
position: relative;

}
.outblock{
	font-size: 18px;
	font-weight:400 ;
	color: white;

}
.outblock{
	position: absolute;
	border: 1px solid rgb(228, 199, 199);
	padding: 10px;
	border-radius: 10px;
top: 20px;
left: 20px;
}
.Outtt{
	border: 1px solid ;
}
.divBlock{
	width: 87%;
	display: flex;
	flex-wrap: wrap;
gap: 30px;
margin: auto;
margin-top: 50px;
}
.SectionFourth{
	background-color: white;
	
}
.img01{
	width: 891px;
	height: 481px;
	background-color: #476178;

}
.POdnaznachno{
font-size: 14px;
font-weight: 400;
color: #FFFFFF;
width: 356px;
line-height: 20px;
}
.pKatalog{
	font-size: 58px;
	font-weight: 700;
	color: white;
}
.texxt{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 200px;
	text-align: center;
	row-gap: 30px;
}
.img02{
	position: relative;
}
.pKaling{
	position: absolute;
	color: white;
	font-size: 32px;
	font-weight: 700;
	top: 10px;
	left: 20px;
}
.pMosh{
	position: absolute;
	font-size: 18px;
	font-weight: 400;
	color: white;
	border: 1px solid white;
	top: 60px;
	padding: 10px;
	border-radius: 10px;
}
.pInverter{
	font-size: 18px;
	font-weight: 400;
	color: white;
	position: absolute;
	top: 60px;
	left: 180px;
	border: 1px solid white;
	padding: 10px;
	border-radius: 10px;
}
.flexximg{
	display: flex;
	justify-content: center;
}
.img011{
	width: 891px;
	height: 481px;
	background-image: url(./ПВХ-изделия.png);
	background-size: cover;
	background-repeat: no-repeat;
	

}
.img022{
	position: relative;
	


}
.SectionFifth{
	width: 99.8%;
	height: 750px;
	background-color: white;
	border: 1px solid rgb(245, 245, 245);
}
.pNews{
	font-size:58px ;
	font-weight: 700;
	color: #191A1A;
margin-left: 50px;
}
.p18{
	font-size:14px ;
	font-weight: 400;
	color: #8B8E8E;
}
.pPrototip{
	font-size:32px ;
	font-weight: 700;
	color: #2A2B2B;
	width: 400px;
}
.FlexKomp{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.sectionTop{
	margin-top: 100px;
	background-color: white;
}
.Divdevice{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.butЗаказ{
	width: 318px;
	height: 52px;
	border: none;
	background-color: #E53624;
	border-radius: 100px;
	font-size: 20px;
	font-weight: 500;
	color: white;
	margin-top: 50px;
	margin-left: 1100px;
}
@media (max-width:510px) {
.menu{
	display: block;
}	
.Pmoskva{
	display: none;
}
.map{
	display: none;
}
.Header{
	justify-content: space-between;
	width: 95%;
	margin: auto;
	margin-top: 20px;
}
.SectionFirst{
	flex-direction: column;
	height: 400px;
	width: 94%;
	padding: 10px;
}
.Pskidka{
	font-size: 12px;
	width: 220px;
}
.butЗаказатьm{
	display: block;
}
.butЗаказать{
	display: none;
}
.RowBox{
	flex-direction: column;
	gap: 40px;
}
.pUslugi{
	font-size: 44px;
	width: 339px;
	text-align: center;
}
.SectionSecond{
	width: 95%;
	margin: auto;
	margin-top: 30px;
}
.Restengle{
	flex-direction: column;
}
.res{
	width: 375px;
	height: 235px;
}
.DomaFlex{
	width: 330px;
	height: 400px;
}
.textbott{
	align-items: start;
}
.Imgtext{
	display: flex;
	flex-direction: column;
	
	width: 100%;
}
.pixel{
	width: 100%;
}
.flexximg{
	flex-direction: column;
	
}
.img01{
	width: 400px;
}
.img011{
	width: 400px;
}
.redstage{
	width: 400px;
}
.FlexKomp{
	flex-direction: column;
	gap: 50px;

}
.src{
	width: 380px;
}
.pNews{
	margin-left: 5px;
}
.SectionFifth{
border: 1px solid red;
background-color: white;

}
.butЗаказ{
	margin-left: 20px;
}

}